.content {
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
    padding: 5px;
    animation: scale 1000ms ease-out;
}

@keyframes scale {
    0% {
        scale: 0.01;
    }
    100% {
        scale: 1;
    }
}

.project-img {
    width: 40%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(204, 203, 203, 0.8);
}

.description {
    display: flex;
    flex-direction: column;
    width: 60%;
    color: white;
    margin: 0 0 0 1rem;
    overflow: auto;
}

.desch2 {
    font-size: 3vh;
    font-weight: normal;
}

.descp {
    margin-top: 1vh;
    font-size: 1vw;
    font-weight: normal;
}

.desca {
    text-decoration: none;
    color: gray;
    transition: all 0.3s;
}

.desca:hover {
    text-decoration: underline;
    color: rgb(230, 230, 230);
}

.desca:active {
    color: rgb(173, 173, 173);
}

/* ///////////////////////// MEDIA ///////////////////*/

@media (max-width: 600px) {
    .project-img {
        width: 50%;
    }

    .description {
        margin: 0 0 0 1vh;
        overflow: auto;
    }

    .desch2 {
        font-size: 2.2vh;
    }

    .descp {
        margin-top: 2vh;
        font-size: 3.8vw;
    }

    .desca {
        font-size: 1.5vh;
        margin-bottom: 0.1vh;
    }
}
