.grid {
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: repeat(3, 20vh);
    gap: 4vh;

    position: absolute;
    top: 20vh;
    margin: 0 4vw;
}

/* ///////////////////////// MEDIA ///////////////////*/

@media (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 95vw);
        grid-template-rows: repeat(4, 20vh);
        gap: 4vh;

        position: absolute;
        top: 20vh;
        margin: 0 1vh;
    }
}
