.content {
    display: flex;
    justify-content: flex-start;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    animation: rotate 1000ms ease-out;
}

@keyframes rotate {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0);
    }
}

.project-img {
    width: 40%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(204, 203, 203, 0.8);
}

.description {
    display: flex;
    flex-direction: column;
    width: 60%;
    color: white;
    margin: 0 0 0 1rem;
}

.desch2 {
    font-size: 3vh;
}

.descp {
    margin-top: 2vh;

    overflow: hidden;
}

.desca {
    text-decoration: none;
    color: gray;
    transition: all 0.3s;
}

.desca:hover {
    text-decoration: underline;
    color: rgb(230, 230, 230);
}

.desca:active {
    color: rgb(173, 173, 173);
}

/* ///////////////////////// MEDIA ///////////////////*/

@media (max-width: 600px) {
    .project-img {
        width: 50%;
    }

    .description {
        margin: 0 0 0 1vh;
        overflow: hidden;
    }

    .desch2 {
        font-size: 2.2vh;
    }

    .descp {
        margin-top: 2vh;
    }

    .desca {
        font-size: 1vh;
        margin-bottom: 0.5vh;
    }
}
