.card {
    height: 100%;
    width: 100%;
    background-color: rgb(119, 124, 131, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 5px rgba(117, 116, 116, 0.8);

    /*  transform: rotate3d(10%); */
}

.animation {
    display: flex;
    animation: bump 1500ms ease-out;
}

@keyframes bump {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.icon1 {
    height: 80%;
    align-self: center;
    margin-left: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 5px;
}

.status-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon2 {
    margin-left: 0.5rem;
    height: 3vh;
}

.status {
    color: white;
    font-size: 1.5vw;
    margin-left: 1rem;
}

.comment-block {
    color: white;
}

.comment-block p {
    margin-left: 1vw;
    font-size: 1.9vh;
}

.flex {
    display: none;
}

/* ///////////////////////// MEDIA ///////////////////*/

@media (max-width: 600px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 5px;
        overflow: scroll;
    }

    .icon1 {
        height: 50%;

        margin-left: 0.6vh;
    }

    .status {
        font-size: 7vw;
    }

    .icon2 {
        margin-left: 0.5rem;
        height: 3.2vh;
    }

    .comment-block p {
        margin-top: 1vh;
        margin-left: 4vw;
        font-size: 5vw;
    }
}
