.background {
    width: 100vw;
    height: 100vh;
    filter: blur(2px);
}

.personal {
    position: absolute;
    bottom: 0.2rem;

    left: 1rem;
    height: 75vh;

    /* opacity: 0.8; */
    z-index: 5;
    background: linear-gradient(red);
}
