.greetings {
    position: absolute;
    top: 25vh;
    right: 15vw;
    font-size: 9vh;
    color: white;
    text-shadow: 0 0 1px black;
}

.im {
    display: inline-block;
    color: red;
    animation: transition 1000ms ease-out;
}
@keyframes transition {
    0% {
        transform: translateX(-70px);
    }

    100% {
        transform: translateX(0);
    }
}

.developer {
    display: inline-block;
    color: red;
    animation: transition2 1000ms ease-out;
}

@keyframes transition2 {
    0% {
        transform: translateX(70px);
    }

    100% {
        transform: translateX(0);
    }
}

.opacity {
    animation: opacity 3000ms ease-out;
}
.opacity2 {
    animation: opacity 3000ms ease-out;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.explanation {
    position: absolute;
    top: 47vh;
    right: 14.5vw;
    font-size: 2.5vh;
    color: white;
    animation: bump 2000ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.005);
    }
    70% {
        transform: scale(1.015);
    }
    85% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

/* ///////////////////////// MEDIA ///////////////////*/

@media (max-width: 600px) {
    .im,
    .opacity,
    .opacity2,
    .developer {
        font-size: 10vw;
    }

    .greetings {
        position: absolute;
        top: 13vh;
        right: 10vw;
        font-size: 9vh;
        color: white;
        text-shadow: 0 0 1px black;
    }

    .formargin {
        margin-top: -4vh;
    }

    .explanation {
        position: absolute;
        top: 32vh;
        right: 12.5vw;
        font-size: 1.7vh;
        color: white;
        animation: bump 2000ms ease-out;
    }
}
