.nav-bar {
    height: 8vh;
    width: 95vw;
    background-color: white;

    position: absolute;
    top: 7vh;
    left: 0;

    box-shadow: 0 0 6px rgba(255, 255, 255, 0.95);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar span {
    color: red;
}

.nav-bar h1 {
    color: grey;
    margin-left: 2rem;
    cursor: pointer;
}

.header-links {
    margin-right: 2rem;
}
.header-links a {
    text-decoration: none;
    color: gray;
    margin: 0 1rem;
    font-size: 1.1rem;
    text-shadow: 0 0 3px grey;
    transition: 0.2s;
}

.header-links a:hover {
    color: rgb(253, 46, 46);
    text-shadow: 0 0 3px rgb(253, 46, 46);
}

.header-links a:active {
    color: rgb(184, 0, 0);
    text-shadow: 0 0 3px rgb(184, 0, 0);
}

#underlines {
    color: rgb(253, 46, 46);
    text-shadow: 0 0 3px rgb(253, 46, 46);
}
